body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: rgba(247, 218, 232, 1);
}

/* containers */

.background-container {

    height: 200px;
    /*margin-top: 50px;*/

    background: urL('../images/monkees.jpg');


    z-index: -1;
}

.logo {

    margin-top: 50px;


    text-align: center;
    font-weight: bolder;
    font-size: 6rem;
    color: rgba(242, 241, 3, 1);
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    font-family: 'Bungee', cursive;
    text-transform: uppercase;
    
}

.content-container {
    margin-top: 0;

}

.footer-container {
    height: 50px;
    /*background-color: red;*/
    color: white;
}

/* navigation bar */

.navbar-social i {
    color: white;
    font-size: 18px;
}

.bg--lime {
    background-color: rgba(190, 207, 33, 1);
}

.bg--pink {
    background-color: rgba(237, 163, 198, 1);
}

.bg--yellow {
    background-color: rgba(242, 241, 3, 1);
}

.bg--red {
    background-color: rgba(220, 33, 18, 1);
}

.bg--purple {
    background-color: rgba(162, 67, 167, 1);
}

.bg--blue {
    background-color: rgba(101, 206, 251, 1);
}

.bg--orange {
    background-color: rgba(148, 123, 98, 0.7);
}



.content-container--orange {
    /*background-color: rgba(148, 123, 98, 0.7);*/
    background-color: rgba(162, 67, 167, .7);
    padding-top: 5px;
    padding-bottom: 10px;

}

.content-container video {
    max-width: 640px;
    max-height: 360px;
    
    
    min-width: 320px;
    min-height: 180px;
    
}

.spacer{
    height: 20vh;
    font-size: 40px;
}

.news-content {}

.upcoming-events-content {}

.page-header {

    margin: 0;
    padding: 0;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
    font-family: 'Bungee', cursive;
    text-transform: uppercase;
}


/* news content */

.news-content .card, .card-header, .card-body {
    border: none;
    color: black;
}

.news-content .card-header {
    background-color: rgba(101, 206, 251, .55);
    margin: 0;
    padding: 5px;
}

.news-content .btn-link {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;

}

.news-content .card-body {
    background-color: rgba(101, 206, 251, .55);
    padding-top: 0;
    padding-bottom: 0;
}
