body {
    /*font-family: 'Open Sans', sans-serif;*/
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
    color: #000;
}


/* navigation bar */

/* for xs and sm screens */

.navbar-social-media i {
    font-size: 30px;
}

/* for md screens and larger reduce the font size to fit on navbar */

@media (min-width: 768px) {
    .navbar-social-media i {
        font-size: 22px;
    }
}

.navbar-social-media {
    min-width: 200px;
}

.navbar-brand {
    background-image: url("../images/monkees-logo-2.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-right: 1em;
}

.navbar-logo {
    height: 20%;
    width: 20%;
}



/* colour scheme */

.bg--primary {
    background-color: #00608a;
}


.bg--secondary {
    background-color: #403F4C;
}

.bg--third {
    background-color: #93B7BE;
}

.bg--four {
    background-color: #E8E8E8;
}

.bg--white {
    background-color: #ffffff;
}

.bg--red {
    background-color: #E84855
}

/* font styling */

.font--primary {
    color: #E8E8E8;
}

.font--secondary {
    color: #E84855;
}

.font--black {
    color: #000;
}

.fab {
    color: #fff;
}

.page-header {
    padding: 0;
    margin: 0;
    font-family: 'Bungee', cursive;
    text-transform: uppercase;
    color: #E84855;
}

.page-header>i,
.news-header>i {
    margin-right: 20px;
}

.navbar-social-media a:hover>.fa-facebook-square {
    color: #1877f2;
}

.navbar-social-media a:hover>.fa-twitter-square {
    color: #1da1f2;
}

.navbar-social-media a:hover>.fa-instagram {
    color: #f46f30;
}

.navbar-social-media a:hover>.fa-youtube {
    color: #ff0000;
}

.navbar-social-media a:hover>.fa-spotify {
    color: #84bd00;
}


/* upcoming events */

.upcoming-events-container {

    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;

}

/* latest release container */

.latest-release-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000;
}

.latest-release-container video {
    max-width: 90%;
    padding-top: 10px;
}

/* news styling */

.news-container {
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000000;
}

.news-item {}

.news-header {
    padding-bottom: 10px;
}

.news-text {
    padding-left: 30px;
}

.news-btn {
    display: block;
    width: 100px;
    margin-top: 10px;
}

.news-thumbnail {
    width: 80%;
    min-width: 100px;
    /*max-height: 300px;*/
}




.event-item {
    margin-top: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}

/* hero logo */

.hero-container {
    width: 100%;
}

.hero {
    background-image: url("../images/monkees.jpg");
    background-size: cover;
    background-position: top center;
    width: 100%;
    min-height: 50vh;

}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* buttons */

.btn-primary {
    background-color: #E84855;
    border-color: #E84855;
}

.btn-primary:hover {
    background-color: #FF4855;
    border-color: #FF4855;

}

/* images */

.img-thumbnail {
    max-height: 100px;
}

.event-item .btn {
    display: block;
    max-width: 30vw;
    width: 150px;

}

/* divider */

.divider {
    height: 1px;
    width: 100%;
}

.divider--short {
    height: 1px;
    width: 50%;
}

/* video */

.index-video-container {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* footer */

.footer-container {
    height: 30px;
    color: white;
}


/* about us page */

.about-us {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #000;
}

.band-member-name {}

.band-member-thumbnail {
    /*max-height: 300px;*/
    /*width: 100%;*/
    max-height: 300px;
}

.band-member {
    margin-bottom: 30px;
    margin-top: 30px;
}

.band-background {}

.band-members {
    margin-top: 50px;
}

.member-item {
    font-weight: bold;
}

.member-detail {
    margin-bottom: 5px;
}


/* events */

h1.page-header {
    margin-top: 100px;
}

h2.page-header {
    margin-top: 30px;
}


/* audio */

.audio-header {
    
}

.audio-track {
    margin-bottom: 30px;
}

.audio-track audio {
    display: block;
    width: 100%;
}

.audio-image {
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;

    border: 6px double black;
}


/* video */
.video-header {
    padding-bottom: 10px;
}

.video-track {
    width: 100%;
    padding-bottom: 30px;
}

.video-container {
    padding-bottom: 50px;
}