@import url('https://fonts.googleapis.com/css?family=Oswald|Bungee|Rubik:400,700&display=swap');

/* 
PAGE: N/A (GENERIC STYLES)
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #000;
}

main {
    /* used to ensure that the footer is always atleast flush with the bottom of the browser window */
    min-height: calc(100vh - 30px);
    margin-left: -15px;
    margin-right: -15px;
}

p {
    margin: 0;
}

footer {
    margin-left: -15px;
    margin-right: -15px;
}

/* used to add space to offset the navbar */
.navbar-offset {
    margin-top: 60px;
}

/* headers */
.page-header {
    padding-top: 20px;
    font-family: 'Bungee', cursive;
    text-transform: uppercase;
    color: #E84855;
}

.page-header>i,
.news-header>i {
    padding-right: 20px;
}

h1.page-header {
    color: #000;
    font-family: 'Oswald', sans-serif;
}

h2.page-header {
    margin-top: 30px;
}

/* dividers */
.divider {
    height: 1px;
    width: 100%;
}

.divider--short {
    height: 1px;
    width: 50%;
}

/* buttons */

.btn-primary {
    background-color: #DC2D36;
    border-color: #DC2D36;
}

.btn-primary:hover {
    background-color: #FF4855;
    border-color: #FF4855;
}

.btn-ext:hover {
    background-color: #2961FF;
    border-color: #2961FF;
}


/* navigation bar */

/* for xs and sm screens */
.navbar-social-media i {
    font-size: 30px;
}


/* for md screens and larger reduce the font size to fit on navbar */
@media (min-width: 768px) {
    .navbar-social-media i {
        font-size: 22px;
    }
}

.navbar-brand {
    background-image: url("../images/monkees-logo-2.png");
    background-size: cover;
    height: 40px;
    width: 50px;
    padding-right: 1em;
}


/* colours */
.bg--primary {
    background-color: #00608a;
}

.bg--secondary {
    background-color: #403F4C;
}

.bg--third {
    background-color: #93B7BE;
}

.bg--four {
    background-color: #E8E8E8;
}

.bg--white {
    background-color: #ffffff;
}

.bg--red {
    background-color: #E84855
}


/* font colors */

.font--primary {
    color: #E8E8E8;
}

.font--secondary {
    color: #E84855;
}

.font--black {
    color: #000;
}

.fab {
    color: #fff;
}

/* social media hover colours */

.navbar-social-media a:hover>.fa-facebook-square {
    color: #1877f2;
}

.navbar-social-media a:hover>.fa-twitter-square {
    color: #1da1f2;
}

.navbar-social-media a:hover>.fa-instagram {
    color: #f46f30;
}

.navbar-social-media a:hover>.fa-youtube {
    color: #ff0000;
}

.navbar-social-media a:hover>.fa-spotify {
    color: #84bd00;
}

/* 
PAGE: HOMEPAGE 
*/

/* upcoming events */
.upcoming-events-container {
    width: 100%;
    padding-bottom: 50px;
}

/* latest release container */
.latest-release-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #000;
}

.latest-release-container video {
    width: 100%;
    padding-top: 10px;
}


/* news styling */
.news-container {
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #000000;
}

.news-item {
    padding-top: 15px;
}

.news-text {
    padding-left: 30px;
}

.news-btn {
    display: block;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;

}

.news-thumbnail {
    width: 80%;
    min-width: 100px;
}


/* events */
.events-container {
    padding-bottom: 80px;
}

.event-item {
    margin-top: 15px;
    padding: 15px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}


/* logo */
.logo-container {
    background-image: url("../images/monkees.jpg");
    background-size: cover;
    background-position: top center;
    width: 100%;
    min-height: 50vh;
    margin-top: 50px;
}

.img-thumbnail {
    max-height: 100px;
}

.event-item .btn {
    display: block;
    max-width: 30vw;
    width: 150px;
}

/* video */
.index-video-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

/* footer */
.footer-container {
    height: 30px;
    color: white;
}


/* 
PAGE: ABOUT US 
*/

.about-us {
    color: #000;
}

.band-member-thumbnail {
    max-height: 300px;
}

.band-member {
    padding-bottom: 30px;
    padding-top: 30px;
}

.member-item {
    font-weight: bold;
}

.member-detail {
    padding-bottom: 5px;
}

/* 
PAGE: MUSIC 
*/

/* audio */
.audio-track {
    padding-bottom: 50px;
}

.audio-track audio {
    display: block;
    width: 100%;
}

.audio-image {
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    border: 6px double black;
}


/* video */
.video-header {
    padding-bottom: 10px;
}

.video-track {
    width: 100%;
    padding-bottom: 50px;
}

.video-container {
    padding-bottom: 50px;
}

/* PAGE: BOOKINGS */

/* PAGE: UPCOMING EVENTS */